<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "Desarrollador FullStack"}) %>
<body>
  
  <%- include("partials/header") %>

    <main>
        <h1 style="margin: 70px 0 20px;text-align: center; ">
            Comentarios
        </h1>

        <ul class="commentContainer">
            <% comments.forEach(({id,name,phone,email,comment}) => { %>
                <div class="commentsCard">
                    <li><b>Nombre:</b>  <%= name %> </li>
            <li><b>Telefono:</b>   <%= phone %> </li>
            <li><b>Email:</b>  <%= email %> </li>
            <li><b>Comentario:</b>  <%= comment %> </li>
            <form action="/deleteComment/<%= id %>" method="POST">
              <button type="submit">Borrar</button>
          </form> 
                </div>
           
            <% }) %>
           
        </ul>
    </main>


  <%- include("partials/footer") %>
</body>

<%- include("partials/scripts") %>

</html>
