<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "Desarrollador FullStack"}) %>
<body>
  
  <%- include("partials/header") %>

    <main>
        <h1 style="margin-top: 70px;">
            Comentarios
        </h1>

        <ul>
            <% comments.forEach(({name,phone,email,comment}) => { %>
              <li>Nombre: <%= name %> </li>
            <li>Telefono: <%= phone %> </li>
            <li>Email: <%= email %> </li>
            <li>Comentario: <%= comment %> </li>
            <br>
            <br>
            <% }) %>
           
        </ul>
    </main>


  <%- include("partials/footer") %>
</body>

<%- include("partials/scripts") %>

</html>
