<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", { title: "FullStack Dev"}) %>
<body>
  
  <%- include("partials/header") %>

  <%- include("partials/main") %>

  <%- include("partials/footer") %>
</body>

<%- include("partials/scripts") %>

</html>